#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 48px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#header4-1 H1 {
  text-align: center;
  color: #efefef;
  font-size: 48px;
}
#header2-2 H1 {
  text-align: center;
}
#slider-3 H1 {
  text-align: right;
}
#content1-7 H2 {
  color: #41a85f;
}
#msg-box2-8 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-8 .mbr-article {
  color: #252525;
}
#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .navbar-brand a {
  font-size: 48px;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-e .navbar-toggler {
  color: #ffffff;
}
#header4-f H1 {
  text-align: right;
  color: #efefef;
}
#header2-g H1 {
  text-align: center;
}
#slider-h H1 {
  text-align: right;
}
#content1-k H2 {
  color: #41a85f;
}
#msg-box2-l .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-l .mbr-article {
  color: #252525;
}
#dropdown-menu-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-q .navbar-brand a {
  font-size: 48px;
}
#dropdown-menu-q .nav .link,
#dropdown-menu-q .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-q .navbar,
#dropdown-menu-q .dropdown-menu {
  background: #333333;
}
#dropdown-menu-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-q .dropdown-menu a:hover,
#dropdown-menu-q .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-q .navbar-toggler {
  color: #ffffff;
}
#header4-r H1 {
  text-align: right;
  color: #efefef;
}
#header2-s H1 {
  text-align: center;
}
#slider-t H1 {
  text-align: right;
}
#content1-w H2 {
  color: #41a85f;
}
#msg-box2-x .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-x .mbr-article {
  color: #252525;
}
#dropdown-menu-12 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-12 .navbar-brand a {
  font-size: 48px;
}
#dropdown-menu-12 .nav .link,
#dropdown-menu-12 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-12 .navbar,
#dropdown-menu-12 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-12 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-12 .dropdown-menu a:hover,
#dropdown-menu-12 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-12 .navbar-toggler {
  color: #ffffff;
}
#header4-13 H1 {
  text-align: right;
  color: #efefef;
}
#header2-14 H1 {
  text-align: center;
}
#slider-15 H1 {
  text-align: right;
}
#content1-18 H2 {
  color: #41a85f;
}
#msg-box2-19 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-19 .mbr-article {
  color: #252525;
}
#dropdown-menu-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1e .navbar-brand a {
  font-size: 48px;
}
#dropdown-menu-1e .nav .link,
#dropdown-menu-1e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1e .navbar,
#dropdown-menu-1e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1e .dropdown-menu a:hover,
#dropdown-menu-1e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1e .navbar-toggler {
  color: #ffffff;
}
#header4-1f H1 {
  text-align: right;
  color: #efefef;
}
#header2-1g H1 {
  text-align: center;
  color: #252525;
}
#header2-1g P {
  color: #41a85f;
}
#slider-1h H1 {
  text-align: right;
}
#content1-1k H2 {
  color: #41a85f;
}
#msg-box2-1l .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1l .mbr-article {
  color: #252525;
}
